# --- Caddyfile Template ---
{% if caddy_mode == "dev" %}
{
    auto_https off
}
{% elif caddy_mode == "prod" %}
{
    email {{ caddy_email }}
}
{% endif %}


# Development setup (HTTP only)
{% if caddy_mode == "dev" %}
http://app.rosy.home.org {
    reverse_proxy oldap-app:3000
}
http://api.rosy.home.org {
    reverse_proxy oldap-api:8000
}
http://fasnacht.rosy.home.org {
    reverse_proxy fasnachts-page:3100
}
{% endif %}

# Production setup (HTTPS, handled by Caddy)
{% if caddy_mode == "prod" %}
app.oldap.org {
    reverse_proxy oldap-app:3000
}
api.oldap.org {
    reverse_proxy oldap-api:8000
}
fasnacht.digital {
    reverse_proxy fasnachts-page:3100
}

fasnacht.oldap.org {
    reverse_proxy fasnachts-page:3100
}

{% endif %}