# --- Caddyfile Template ---
{% elif caddy_mode == "prod" %}
{
    email {{ caddy_email }}
}
{% endif %}


# Development / Local setup with HTTPS
{% if caddy_mode == "dev" %}
app.rosy.home.org, api.rosy.home.org, fasnacht.rosy.home.org {
    tls internal
    
    @app host app.rosy.home.org
    handle @app {
        reverse_proxy oldap-app:3000
    }

    @api host api.rosy.home.org
    handle @api {
        reverse_proxy oldap-api:8000
    }

    @fasnacht host fasnacht.rosy.home.org
    handle @fasnacht {
        reverse_proxy fasnachts-page:3100
    }
}
{% endif %}

# Production setup (HTTPS, handled by Caddy)
{% if caddy_mode == "prod" %}
app.oldap.org {
    reverse_proxy oldap-app:3000
}
api.oldap.org {
    reverse_proxy oldap-api:8000
}
fasnacht.digital {
    reverse_proxy fasnachts-page:3100
}

fasnacht.oldap.org {
    reverse_proxy fasnachts-page:3100
}

{% endif %}