# Image tags
OLDAP_API_TAG={{ oldap_api_tag | default('latest') }}
OLDAP_APP_TAG={{ oldap_app_tag | default('latest') }}
OLDAP_TOOLS_TAG={{ oldap_tools_tag | default('latest') }}
FASNACHTS_PAGE_TAG={{ fasnachts_page_tag | default('latest') }}

# --- OLDAP environment (server) ---
APP_ENV={{ app_env | default('Prod') }}
PUBLIC_API_URL={{ public_api_url | default(api_url) }}
SERVER_API_URL={{ server_api_url | default('http://oldap-api:8000') }}
PUBLIC_IIIF_URL={{ public_iiif_url | default('') }}
PUBLIC_UPLOAD_URL={{ public_upload_url | default('') }}
GRAPHDB_HOME={{ graphdb_home }}
GRAPHDB_INIT={{ graphdb_init }}
OLDAP_JWT_SECRET={{ oldap_jwt_secret | default("change-me-to-something-secret-007") }}
OLDAP_DATA={{ oldap_data }}
CADDY_MODE={{ caddy_mode | default('prod') }}
CADDY_DATA={{ caddy_data }}
CADDY_CONF={{ caddy_conf }}

