# --- OLDAP environment (server) ---
APP_ENV={{ app_env | default('Prod') }}
API_URL={{ api_url }}
GRAPHDB_HOME={{ graphdb_home }}
GRAPHDB_INIT={{ graphdb_init }}
OLDAP_JWT_SECRET={{ oldap_jwt_secret | default("change-me-to-somethong-secret-007") }}
OLDAP_DATA={{ oldap_data }}
CADDY_MODE={{ caddy_mode | default('prod') }}
CADDY_DATA={{ caddy_data }}
CADDY_CONF={{ caddy_conf }}

# Image tags
OLDAP_API_TAG={{ oldap_api_tag | default('latest') }}
OLDAP_APP_TAG={{ oldap_app_tag | default('latest') }}